<input id="name-input" value=""></input>
<button id="join-game">JOIN</button>
<script>
    var joinButton = document.getElementById('join-game');
    var input = document.getElementById('name-input');
    console.log(name);
    joinButton.addEventListener('click', (e) => {
window.location.href = window.location.href + '/' + input.value
    });
      </script>